<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <welcome-file-list>
    <welcome-file>indexselect</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ToConfirm</display-name>
    <servlet-name>ToConfirm</servlet-name>
    <servlet-class>servlet.ToConfirm</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ToConfirm</servlet-name>
    <url-pattern>/ToConfirm</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoConfirm</display-name>
    <servlet-name>DoConfirm</servlet-name>
    <servlet-class>servlet.DoConfirm</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoConfirm</servlet-name>
    <url-pattern>/DoConfirm</url-pattern>
  </servlet-mapping>
</web-app>